body{
    background-color: black;
    font-family: 'Supply', sans-serif;
}

h3{
    color: rgb(138, 143, 152);
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}

p{
    color: white;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    display: flex;
}

a{
    text-decoration: none;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid rgb(138, 143, 152);
    margin: 5px;
    line-height: 3px;
}

@font-face {
    font-family: 'Supply';
    src: url(./fonts/PPSupplyMono-Regular.otf);
    font-stretch: normal;
    font-style: normal;
}